{% extends 'base.html.twig' %}

{% block content %}
<style>
 
.alert.alert-styled-left {
    border-left-width: 27px !important;
}
.alert[class*=alert-styled-].alert-info:after, .alert[class*=alert-styled-][class*=bg-info]:after
{
content: none !important;
}

</style>
<div class="page-content">
    {% block sidebar %}
        {% include 'layout/_partials/sidebar.html.twig' %}
    {% endblock %}
    
    <div class="content-wrapper">
        <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        {% if app.session.getFlashBag().has('warning') %}
                            {% for message in app.session.getFlashBag().get('warning') %}
                                <div class="alert alert-warning no-border">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    <strong>Attention !</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if app.session.getFlashBag().has('error') %}
                            {% for message in app.session.getFlashBag().get('error') %}
                                <div class="alert alert-danger no-border" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    <strong>Erreur !</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if app.session.getFlashBag().has('info') %}
                            {% for message in app.session.getFlashBag().get('info') %}
                                <div class="alert alert-info no-border" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if app.session.getFlashBag().has('success') %}
                            {% for message in app.session.getFlashBag().get('success') %}
                                <div class="alert alert-success no-border" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Gestion des collaborateurs<a class="heading-elements-toggle"><i class="icon-more"></i></a><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                        
                <div class="panel-body">
                    <table>
                        <thead>
                        <tr class="ui-widget-header ">
                            <th>Name/Nr.</th>
                            <th>Street</th>
                            <th>Town</th>
                            <th>Postcode</th>
                            <th>Country</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="koulo">
                            <td><span>50</span>
                            </td>
                            <td>Some Street 1</td>
                            <td>Glasgow</td>
                            <td>G0 0XX</td>
                            <td>United Kingdom</td>
                        </tr>
                        </tbody>
                    </table>
<script>
    $(".koulo").click(function() {
        var $row = $(this).closest("tr");    // Find the row
        var $text = $row.find("td").text(); // Find the text

        // Let's test it out
        alert($text);
    });</script>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
