{% extends 'base.html.twig' %}
{% block body_attributes %}class="navbar-top sidebar-xs has-detached-left"{% endblock %}
{% block content %}
<div class="page-content">
    {% block sidebar %}
        {% include 'layout/_partials/sidebar.html.twig' %}
    {% endblock %}
    <div class="content-wrapper">
        <div class="content">
            {% include 'layout/_partials/sidebarseconder.html.twig' %}

            <div class="container-detached">
                <div class="content-detached">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                        <h5 class="panel-title">Attestation de non remuneration</h5>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered text-center alpha-blue" >
                                <thead>
                                    <tr>
                                        <th class="text-center">Nom Client</th>
                                        <th class="text-center">Code Client</th>
                                        <th rowspan="2" class="text-center">Attestation de non remuneration</th>
                                    </tr>   
                                    <tr>
                                        <th class="text-center">Test EP</th>
                                        <th class="text-center">EC0001</th>
                                    </tr>   
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table><br>
                                <form action="#" class="form-horizontal">
                                <fieldset class="content-group">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Mandataire</label>
                                        <div class="col-md-6">
                                            <select data-placeholder="" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-block  bg-blue heading-btn">Crées le PDF</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Date de début de période</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control">
                                        </div>
                                        <label class="control-label col-lg-2">Date de fin de période</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}