{% extends 'base.html.twig' %}

{% block content %}

    <!-- Highlighting rows and columns -->
    <div class="panel panel-flat">
        <div class="panel-body">
            <table class="table datatable-responsive table-bordered table-hover datatable-highlight">
                <thead>
                    <tr>
                        <th><i class="icon-add position-left" style="color: green;cursor: pointer"></i> <i class="icon-file-excel" style="color: green;cursor: pointer"></i> </th>
                        <th>Commun/Client</th>
                        <th>Compte </th>
                        <th>Libellé</th>
                        <th>Taux TVA</th>
                        <th>Type </th>
                        <th>Nature Auxiliaire </th>
                        <th>Catégorie </th>
                        <th>Type de TVA</th>
                        <th>Référence</th>
                        <th>Sens Normal</th>
                        <th>Sens Anormal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">Filtres</a></td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>

                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="icon-trash" style="color: green;"></i> </a></td>
                        <td style="text-align: center">
                            Commun
                        </td>
                        <td>4370004</td>
                        <td></td>
                        <td></td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>

                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#"><i class="icon-trash" style="color: green;"></i> </a></td>
                        <td style="text-align: center">
                            Commun
                        </td>
                        <td>4370004</td>
                        <td></td>
                        <td></td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>

                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="" class="select select2-hidden-accessible" class="col-md-6" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Central Time Zone">
                                    <option value="AL">Alabama</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="KY">Kentucky</option>
                                </optgroup>
                                <optgroup label="Eastern Time Zone">
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="WV">West Virginia</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /highlighting rows and columns -->

{% endblock %}