<div class="datatable-scroll-wrap">
    <table class="table datatable-responsive table-bordered table-hover datatable-highlight dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
        <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Prénom: activate to sort column ascending">Code</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Nom: activate to sort column ascending">Entité Juridique</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Téléphone: activate to sort column ascending">Statut</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Téléphone: activate to sort column ascending">2016</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">2017</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rôles: activate to sort column ascending">2018</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Statut: activate to sort column ascending">2019</th>
            <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">2020</th>
            <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">Total 2016-2020</th>
            <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr role="row" class="">
            <td>
                <div class="">
                    <a title="Modifier" href="{{ path('edit-collaborateur') }}" class="text-primary legitRipple"><i class="icon-pen position-left"></i></a>
                </div>
            </td>
            <td>Contacts</td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
            <td>
                <select data-placeholder="" class="select select2-hidden-accessible " tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="AR">Arkansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>