{% extends 'base.html.twig' %}

{% block content %}
<div class="page-content">
        {% block sidebar %}
            {% include 'layout/_partials/sidebar.html.twig' %}
        {% endblock %}
    <div class="content-wrapper">
        <div class="content">
            <!-- Highlighting rows and columns -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Clients - Access</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                <span title="Ajouter un nouvel Client" class="pull-right"><a href="{{ path('client_access1') }}" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-user-plus"></i></b> Ajouter</a></span>
                <table class="table datatable-responsive table-bordered table-hover datatable-highlight">
                    <thead>
                    <tr>
                        <th class="text-center">Filtres</th>
                        <th>Code</th>
                        <th>Entité juridique</th>
                        <th>Statut</th>
                        <th>Collaborateur</th>
                        <th>Forme juridique </th>
                        <th>Date de cloture </th>
                        <th>Date de dernier excercice a traiter</th>
                        <th>Regime Fiscal</th>
                        <th>Regime TVA</th>
                        <th>Activité Principale</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#{% for item in users %}#}
                        <tr>
                            <td class="text-center">
                                <div class="">
                                    <a title="Modifier" href="{{ path('client_access1') }}" class=" legitRipple"><i class="icon-pen position-left"></i></a>
                                </div>
                            </td>
                            <td>EC0020</td>
                            <td>ELMO</td>
                            <td>En cours</td>
                            <td>EDA</td>
                            <td>SARL</td>
                            <td>12/12/2016</td>
                            <td>
                                12/12/2016
                            </td>
                            <td>
                                Impot sur les sociétés
                            </td>
                            <td>
                                TVA réel simplifié
                            </td>
                            <td>
                                Conseil en informatique
                            </td>
                        </tr>
                    <tr>
                        <td class="text-center">
                            <div class="">
                                <a title="Modifier" href="{{ path('client_access1') }}" class=" legitRipple"><i class="icon-pen position-left"></i></a>
                            </div>
                        </td>
                        <td>EC0020</td>
                        <td>WEBCAM-PROFS.FR</td>
                        <td>En cours</td>
                        <td>EDA</td>
                        <td>SARL</td>
                        <td>12/12/2016</td>
                        <td>
                            12/12/2016
                        </td>
                        <td>
                            Impot sur les sociétés
                        </td>
                        <td>
                            TVA réel simplifié
                        </td>
                        <td>
                            Conseil en informatique
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="">
                                <a title="Modifier" href="{{ path('client_access1') }}" class=" legitRipple"><i class="icon-pen position-left"></i></a>
                            </div>
                        </td>
                        <td>EC0020</td>
                        <td>EMCPI</td>
                        <td>En cours</td>
                        <td>EDA</td>
                        <td>SARL</td>
                        <td>12/12/2016</td>
                        <td>
                            12/12/2016
                        </td>
                        <td>
                            Impot sur les sociétés
                        </td>
                        <td>
                            TVA réel simplifié
                        </td>
                        <td>
                            Conseil en informatique
                        </td>
                    </tr>
                    {#{% endfor %}#}
                    </tbody>
                </table>
                </div>
            <!-- /highlighting rows and columns -->
        </div>
    </div>
</div>

{% endblock %}

