{% extends 'base.html.twig' %}

{% block content %}
<div class="page-content">
	{% block sidebar %}
		  {% include 'layout/_partials/sidebar.html.twig' %}
	  {% endblock %}
	<div class="content-wrapper">
		<div class="content">
			<div class="panel panel-flat">
				<div class="panel-body">

					<div class="col-lg-12 content-group-lg" style="background-color: #5d9d9c;color: #fff;font-size: 14px;text-align: center;margin: 10 0">
						<h6 >Rendez-vous</h6>
					</div>

					<form name="" method="post" class="">
						<div class="form-group">
							<label class="control-label col-lg-1 text-semibold control-label" for="type">Type </label>
							<div class="col-lg-2">
								<select id="type" name="" class="form-control">
									<option value=""></option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-lg-1 text-semibold control-label" for="date">Date : </label>
							<div class="col-lg-2">
								<input type="text" id="date" name="" class="form-control" value="17/03/2018" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-lg-2 text-semibold control-label" for="hd">Heure début :  : </label>
							<div class="col-lg-1">
								<input type="text" id="hd" name="" class="form-control" value="10:59" />
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-lg-2 text-semibold control-label" for="hf">Heure fin : </label>
							<div class="col-lg-1">
								<input type="text" id="hf" name="" class="form-control" value="" />
							</div>
						</div>


						<div class="form-group">
							<label class="control-label col-lg-1 text-semibold control-label" for="note">Note : </label>
							<div class="col-lg-12">
								<textarea  id="note" name="" class="form-control" rows="10" >

								</textarea>
							</div>
						</div>
						<div class="form-group col-lg-12">
							<div class="text-center">
								<div class="btn-group">
									<button name="saveWithFacture" type="submit" class="btn btn-info legitRipple">Enregistrer sans facturer</button>
									<button name="close" type="submit" class="btn btn-secondary legitRipple">Fermer</button>
									<button name="saveWithoutFacture" type="submit" class="btn btn-primary legitRipple">Enregistrer et facturer</button>
							</div>
							</div>
						</div>


					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}