
<style>
    @media (min-width: 1025px){
.col-md-6 {
    width: 50%;
    margin-bottom: 2rem !important;
}}
td {
    background-color:#eef3fd !important;
}
tr.hide_all > td, td.hide_all{
        border-style:hidden;
      }
tr.noBorder td {
  border: 0;
}
.hide-border{
  border: 0;
}

</style>

<form action="#">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                            <div class="form-group">
                                <label>Adresse de facturation</label>
                                <textarea rows="5" cols="5" class="form-control" placeholder="1 Route De Maiche"></textarea><div id="grammalecte_menu0" class="grammalecte_menu" style="margin-top: 0px;"><div class="grammalecte_menu_close_button">×</div><div class="grammalecte_menu_header">GRAMMALECTE</div><div class="grammalecte_menu_item">Formateur de texte</div><div class="grammalecte_menu_item">Lexicographe</div><div class="grammalecte_menu_item">Correction grammaticale</div><div class="grammalecte_menu_item_block">Conjugueur<div class="grammalecte_menu_button">Onglet</div><div class="grammalecte_menu_button">Fenêtre</div></div><div class="grammalecte_menu_footer"></div></div><div class="grammalecte_menu_main_button" style="margin-top: -8px; display: block;"> </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>CP</label>
                                        <input type="text" placeholder="25660" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ville</label>
                                        <input type="text" placeholder="Morre" class="form-control">
                                    </div>
                                </div>
                            </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mode de réglement</label>
                            <select data-placeholder="Prélévement" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="panel-body">
            <span title="Ajouter une nouvelle tache" class="pull-right"><a data-toggle="modal" data-target="#myModal" href="" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-user-plus"></i></b> Ajouter</a></span>

            <table class="table datatable-responsive table-bordered table-hover datatable-highlight dataTable no-footer alpha-blue">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Entité Juridique</th>
                        <th>Date Cloture</th>
                        <th>N Facture</th>
                        <th>Date</th>
                        <th>A/F</th>
                        <th>Mode Régl</th>
                        <th>Réglée</th>
                        <th>Editée</th>
                        <th>HT</th>
                        <th>TVA</th>
                        <th>TTC</th>
                        <th>Mt Réglé</th>
                        <th>Solde</th>
                        <th>Date du dernier exercice à traiter</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>E00023</td>
                        <td>
                            <select data-placeholder="Select your state" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>Entité Juridique</td>
                        <td>N Facture</td>
                        <td> 
                            <select data-placeholder="Select your state" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="Select your state" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="Select your state" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="Select your state" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <select data-placeholder="Select your state" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>HT</td>
                        <td>TVA</td>
                        <td>TTC</td>
                        <td>Mt Réglé</td>
                        <td>Solde</td>
                        <td>
                            <select data-placeholder="Select your state" class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option></option>
                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </td>
                        <td>
                            <div class="">
                                <a title="Supprimer" onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');" href="#" class="text-danger legitRipple"><i class="icon-trash position-left"></i></a>
                                <a title="Modifier" href="" class="text-primary legitRipple"><i class="icon-pen position-left"></i></a>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</form>
        


