

{% extends 'base.html.twig' %}
{% block content %}
	<div class="page-content">
        {% block sidebar %}
            {% include 'layout/_partials/sidebar.html.twig' %}
        {% endblock %}

		<div class="content-wrapper">
			<div class="content">
				<div class="panel panel-flat">
					<div class="tabbale">
						<ul class="nav nav-tabs bg-teal-400 nav-justified">
							<li id="clikfirsttab"><a href="{{ path('company_new') }}">Fiche Client</a></li>
							<li class="active"><a href="{{ path('relation_new') }}">Prise de connaissance</a></li>
						</ul>
						<div class="tab-content ">
							<div class="tab-pane active" id="secondtab">
								<div class="">
									<ul class="nav nav-tabs nav-tabs-highlight">
										<li class="active"><a href="#relation" data-toggle="tab" aria-expanded="true"><i class="icon-users position-left"></i>Entrée en relation</a></li>
										<li class=""><a href="#devisclient" data-toggle="tab" aria-expanded="false"><i class="icon-folder position-left"></i>Devis Client</a></li>
									</ul>
								</div>
								<div class="tab-content">


									<div class="tab-pane active" id="relation">
										<div class="panel panel-flat">
											<div class="panel-body">
												<p class="content-group-lg">
													Merci d'avoir accepté le RDV. je propose l'entretien en 4 étapes : la première, je pose des questions, ensuite je donne les conseils, je présente le mode de fonctionnement, et ensuite on parle budget.
												</p>
												<p class="content-group-lg">
													Attention, nous alions évoquer toutes les stratégies patrimoniales à mettre en place dés cet entretien afin de réduire les impositions fiscales et sociales. Sinon, il sera trop tard.
												</p>
												<form name="appbundle_user" method="post" class="">
													<div class="row">
														<div class="form-group">
															<label class="control-label col-lg-2 text-semibold control-label" for="apporteur">Apporteur</label>
															<div class="col-lg-2">
                                                                {{form_row(form1.contributor)}}
															</div>
														</div>



														<div class="form-group">
															<label class="control-label col-lg-2 text-semibold control-label" for="type_mession">Type de Mission</label>
															<div class="col-lg-2">
																<select id="type_mession" name="" class="form-control">
																	<option value="EC"></option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-lg-2 text-semibold control-label" for="seciete_deja_cree">Société déja Créée</label>
															<div class="col-lg-2">
																<select id="seciete_deja_cree"">
																	<option value="Oui"></option>
																	<option value="Non"></option>
																</select>
															</div>
														</div>
													</div>



													<div class="panel-body">
														<div class="col-lg-12 content-group-lg" style="background-color: #5d9d9c;color: #fff;font-size: 14px;text-align: center;margin: 10 0">
															<h6 >Présentation du Cabinet</h6>
														</div>
														<br>

														<p class="content-group-lg">
															Je ne sais pas si l'apporteur a parlé de nous. Nous sommes un petit cabinet de 20 personnes, moi et 19 collaboratrices. Cabinet créé il y a 11 ans. Nouus avons environ 300 clients, <br />
															essentiellement des freelances en informatiques, et nous avons une offre 2 fois moins cher que sur le marché.
														</p>
													</div>
													<div class="panel-body">
														<div class="col-lg-12 content-group-lg" style="background-color: #5d9d9c;color: #fff;font-size: 14px;text-align: center;margin: 10 0">
															<h6 >Identité</h6>
														</div>
														<div class="row">
															<div class="form-group">
																<label class="control-label col-lg-1 text-semibold control-label" for="Nom">Nom de l'Entreprise </label>
																<div class="col-lg-3">
																	<input type="text" id="Nom" name="" class="form-control" value="ASSJJJ" />
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-lg-3 text-semibold control-label" for="entreprise">Si entreprise créée, quelle est la forme juridique :  </label>
																<div class="col-lg-1">
																	<select id="entreprise" name="" class="form-control">
																		<option value=""></option>
																	</select>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-lg-3 text-semibold control-label" for="social">Si société créée, quel est le montant du capital social? </label>
																<div class="col-lg-1">
																	<input type="text" id="social" name="" class="form-control" value="0$" />
																</div>
															</div>
														</div>
														<div class="row">
															<div class="form-group">
																<label class="control-label col-lg-8 text-semibold control-label" for="integralite">Avez-vous libéré l'intégralité du capital social? car c'est indispensable pour bénéficier du taux réduit d'impots sur les sociétés :</label>
																<div class="col-lg-1">
																	<select id="integralite" name="" class="form-control">
																		<option value=""></option>
																	</select>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="form-group">
																<label class="control-label col-lg-4 text-semibold control-label" for="creation">Si entreprise créée, à quelle date a-t-elle été créée?</label>
																<div class="col-lg-2">
																	<input type="text" id="creation" name="" class="form-control" value="" />
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-lg-2 text-semibold control-label" for="cloture">Quelle est la date de cloture?</label>
																<div class="col-lg-2">
																	<input type="text" id="cloture" name="" class="form-control" value="" />
																</div>
															</div>
														</div>
														<div class="row">
															<div class="form-group">
																<label class="control-label col-lg-10 text-semibold control-label" for="irpp">QuelleAvez-vous bénéficiez de la réduction IRPP pour souscription au capital de PME? (réduction de 25% avant 2011, 22% en 2011, et 18% depuis 2011)?</label>
																<div class="col-lg-1">
																	<select id="irpp" name="" class="form-control">
																		<option value=""></option>
																	</select>
																</div>
															</div>
														</div>
														<div class="row col-lg-12">
															<div class="form-group">
																<label class="control-label col-lg-4 text-semibold control-label" for="dateACree">Si entreprise non créée, à quelle date souhaitez vous la créér?</label>
																<div class="col-lg-1">
																	<input type="text" id="dateACree" name="" class="form-control" value="" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-lg-4 text-semibold control-label" for="france">La société est elle en zone franche ou vivez-vous en zone France?</label>
																<div class="col-lg-1">
																	<select id="france" name="" class="form-control">
																		<option value="Oui"></option>
																		<option value="Non"></option>
																	</select>
																</div>
															</div>
														</div>
													</div>


													<div class="panel-body">
														<div class="col-lg-12 content-group-lg" style="background-color: #5d9d9c;color: #fff;font-size: 14px;text-align: center;margin: 10 0">
															<h6 >Contacts</h6>
														</div>

														<div class="panel-body">
															<span class="pull-left"><a href="#" class="btn bg-green heading-btn"><b><i class="icon-plus3"></i></b></a></span>
														</div>

														<table class="table">
															<thead>
															<tr>
																<th class="text-center"></th>
																<th>Civilité </th>
																<th>Nom</th>
																<th>Prénom</th>
																<th>% de part</th>
																<th>Mandataire social principala</th>
																<th>Associé</th>
															</tr>
															</thead>
															<tbody>
															<tr>
																<td colspan="2">
																	<div class="text-right">
																		<div class="btn-group">
																			<a href="" class="btn btn-primary legitRipple"><b><i class="icon-pen"></i> </b></a>
																			<a href="#" onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');" type="button" class="btn btn-danger legitRipple"><b><i class="icon-trash-alt"></i> </b></a>
																		</div>
																	</div>
																</td>
																<td>Madame</td>
																<td>VAUCELLE</td>
																<td>Marie-Laure</td>
																<td>0%</td>
																<td><input type="checkbox" name="" class="form-control" /></td>
																<td><input type="checkbox" name="" class="form-control" /></td>
															</tr>
															</tbody>
														</table>
													</div>

													<div class="panel-body">
														<div class="col-lg-12 content-group-lg" style="background-color: #5d9d9c;color: #fff;font-size: 14px;text-align: center;margin: 10 0">
															<h6 >Activité et données chiffrées</h6>
														</div>
														<div class="form-group">
															<label class="control-label col-lg-2 text-semibold control-label" for="cloture">Activité de l'entreprise :</label>
															<div class="col-lg-8">
																<input type="text" id="cloture" name="" class="form-control" value="" />
															</div>
														</div>

														<div class="row">
															<div class="col-lg-8">
																<table class="table">
																	<thead>
																	<tr>
																		<th style="border: 0px"></th>
																		<th colspan="3">Exercices comptables</th>
																		<th style="border: 0px"></th>
																	</tr>
																	<tr>
																		<th style="border: 0px"></th>
																		<th >31/12/2099</th>
																		<th >31/12/2100</th>
																		<th >31/12/2101</th>
																		<th >Commentaires</th>
																	</tr>
																	</thead>
																	<tbody>
																	<tr>
																		<td>CA prévisionnel ?</td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Achats et frais généraux prévisionnel</td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Bénéfice prévisionnel ?</td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Combien y-a-t-il de salariés ?</td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Quelle rémuniration nette allez-vous prendre de l'entreprize?</td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																	</tr>
																	</tbody>
																</table>
															</div>
															<div class="col-lg-4">
																<table class="table">
																	<thead>
																	<tr>
																		<th style="border: 0px"></th>
																		<th >oui/non</th>
																		<th >Quand ?</th>
																	</tr>
																	</thead>
																	<tbody>
																	<tr>
																		<td>Le client veut il utiliser sa sociétéactuelle pour investir dans un petit bien immobilier?</td>
																		<td>
																			<select id="" name="" class="form-control">
																				<option value="Oui"></option>
																				<option value="Non"></option>
																			</select>
																		</td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Le client veut il utiliser créeer une holding pour investir dans un bien immobilier important?</td>
																		<td>
																			<select id="" name="" class="form-control">
																				<option value="Oui"></option>
																				<option value="Non"></option>
																			</select>
																		</td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Le client veut il mettre en place l'épargne salariale?</td>
																		<td>
																			<select id="" name="" class="form-control">
																				<option value="Oui"></option>
																				<option value="Non"></option>
																			</select>
																		</td>
																		<td></td>
																	</tr>
																	</tbody>
																</table>
															</div>

														</div>

													</div>

												</form>

											</div>
										</div>


									</div>

									<div class="tab-pane" id="devisclient">

                                        {% include 'default/Devis_clients.html.twig' %}

									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<style>
		fieldset.scheduler-border {
			border: 1px groove #ddd !important;
			padding: 0 1.4em 1.4em 1.4em !important;
			margin: 0 0 1.5em 0 !important;
			-webkit-box-shadow:  0px 0px 0px 0px #000;
			box-shadow:  0px 0px 0px 0px #000;
		}

		legend.scheduler-border {
			font-size: 1.2em !important;
			font-weight: bold !important;
			text-align: left !important;
			width:auto;
			padding:0 10px;
			border-bottom:none;
			color: #7b5d5a;
		}


	</style>
{% endblock %}