 <!-- Highlighting rows and columns -->
    <div class="panel panel-flat">

        <table class="table datatable-responsive table-bordered table-hover datatable-highlight" style=" border:none !important;">
            <thead>
            <tr>
                <th><img src={{ asset("/assets/images/green.png") }} style="width:25px"></th>
                <th>Date de début</th>
                <th>Date de fin </th>
                <th>Collaborateur</th>
                <th>Statut</th>
                <th>Régime impot </th>
                <th>Régime TVA </th>
                <th>AGA ou CGA </th>
                <th>Salariés?</th>
                <th>Formule Choisie</th>
                <th>CAC</th>
                <th>Etat</th>
                <th>Suivi</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td><a href="#"><i class="icon-trash position-left" style="color: red"></i></a></td>
                <td>31/10/2018</td>
                <td>17/11/2018</td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mai
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mai
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mai
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Non
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Non
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Non
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Scan
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mai
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>
                        <button class="btn btn-success"type="button" style="width: 100% !important;">Ouvert</button>

                        <button class="btn btn-info"type="button" style="width: 100% !important;margin-top: 2px">Exporter les FEC</button>
                </td>
                <td>

                    <a href="{{ path('gestion_comptabilite') }}" class="btn btn-info"  type="button" style="width: 100% !important;">&nbsp;&nbsp;Suivi &nbsp;&nbsp;</a>

                </td>
            </tr>

            <tr>
                <td><a href="#"><i class="icon-trash position-left" style="color: red"></i></a></td>
                <td>31/10/2018</td>
                <td>17/11/2018</td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mai
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mai
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mai
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Non
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Non
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Non
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Scan
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Mai
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>

                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>

                </td>
                <td>
                    <button class="btn btn-success"type="button" style="width: 100% !important;background-color: #839496">Fermé</button>

                    <button class="btn btn-info"type="button" style="width: 100% !important;margin-top: 2px">Exporter les FEC</button>
                </td>
                <td>
                    <a href="{{ path('gestion_comptabilite') }}" class="btn btn-info"  type="button" style="width: 100% !important;">&nbsp;&nbsp;Suivi &nbsp;&nbsp;</a>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /highlighting rows and columns -->