{% extends 'base.html.twig' %}

{% block content %}
<style>
    @media (min-width: 1025px){
.col-md-6 {
    width: 50%;
    margin-bottom: 2rem !important;
}}
input[type=text], textarea{
    background-color:#eef3fd !important;
   
  }
  .border-top-info {
    border-top-color: #00bcd4;
}
/* th {
    background-color:#eef3fd !important;
} */
tr.hide_all > td, td.hide_all{
        border-style:hidden;
      }
tr.noBorder td {
  border: 0;
}
.hide-border{
  border: 0;
}
th {
    background-color:#eef3fd !important;
}
</style>
<form action="#">
    <div class="panel panel-flat border-top-info ">
        <div class="panel-heading">
                <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                   <th style="border-left-style:hidden; border-top-style:hidden;background-color:transparent;"></th>
                                    <th>Par Exercice</th>
                                    <th>Par Mois</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mission Comptable et Fiscale HT</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
        </div>

        <div class="panel-body">
            <div class="row">
                    <div class="form-group">
                            <div class="col-md-6"><label>Formule Choisie :</label></div> 
                            <div class="col-md-6">
                                <select data-placeholder="Papier" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                        <option></option>
                                        <optgroup label="Central Time Zone">
                                            <option value="AL">Alabama</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="KY">Kentucky</option>
                                        </optgroup>
                                        <optgroup label="Eastern Time Zone">
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="WV">West Virginia</option>
                                        </optgroup>
                                </select>
                            </div> 
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"><label>Nombre de factures d'achats par an </label></div> 
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eugene Kopyov" />
                        </div> 
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"><label>Nombre de factures d'achats par an </label></div> 
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eugene Kopyov"/>                                    
                        </div> 
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"><label>Nombre d'écrutures estimées</label></div> 
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eugene Kopyov">                                    
                        </div> 
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"><label>Nombre d'écrutures estimées</label></div> 
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Eugene Kopyov">                                    
                        </div> 
                    </div>

                    <div class="form-group col-sm-12">
                            <div class="col-md-6">
                                <h5 style="text-align: center">CA HT</h5>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>CA < 250000</th>
                                            <th>1,0</th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CA < 250000</td>
                                            <td>@Kopyov1,0</td>
                                        </tr>
                                        <tr>
                                            <td>CA < 250000</td>
                                            <td>@Kopyov1,0</td>
                                        </tr>
                                        <tr>
                                            <td>CA < 250000</td>
                                            <td>@Kopyov1,0</td>
                                        </tr>
                                        <tr>
                                            <td>CA < 250000</td>
                                            <td>@Kopyov1,0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="col-md-6">
                                <h5 style="text-align: center">Commentaires</h5>
                                <textarea rows="5" cols="5" class="form-control" placeholder="Enter your message here"></textarea>
                            </div> 
                    </div>

                    <div class="form-group col-sm-12">
                            <div class="col-md-6">
                                <h5 style="text-align: center">Activité</h5>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Prestation de service</th>
                                            <th>1,0</th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Artisan</td>
                                            <td>1,2</td>
                                        </tr>
                                        <tr>
                                                <td>Artisan</td>
                                                <td>1,2</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="col-md-6">
                                    <h5 style="text-align: center">Activité</h5>
                                <textarea rows="5" cols="5" class="form-control" placeholder="Enter your message here"></textarea>
                            </div> 
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"><label>Coefficeint retenu</label></div> 
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="1,00">                                    
                        </div> 
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"><label>Coefficeint retenu</label></div> 
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="1,00">                                    
                        </div> 
                    </div>

                    <div class="form-group">
                        <div class="col-md-6"><label>Coefficeint retenu</label></div> 
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="1,00">                                    
                        </div>      
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Par Exercice</th>
                                <th>Par Mois</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mission Juridique HT</td>
                                <td>0,00 €</td>
                                <td>0,00 €</td>
                            </tr>
                            <tr>
                                <td>Mission Juridique HT</td>
                                <td>0,00 €</td>
                                <td>0,00 €</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <tbody>
                            <tr>
                             <td>Mission Totale HT</td>                                
                                <td>0,00 €</td>
                                <td>0,00 €</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col-md-4">
                            <button type="button" class=" btn-flat  border-slate text-slate-800 form-control col-md-5">Flat button</button>
                        </div> 
                        <div class="col-md-4">
                            <button type="button" class=" btn-flat  border-slate text-slate-800 form-control col-md-5">Flat button</button>
                        </div> 
                        <div class="col-md-4">
                            <select data-placeholder="Destinataire :" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                            </select>
                        </div> 
                    </div>
    
                
            </div>
        </div>
    </div>
</form>
    <div class="row">
        <div class="col-md-6">
            <!-- Basic layout-->
            <form action="#">
                <div class="panel panel-flat border-top-info ">
                    <div class="panel-heading">
                        <h5 class="panel-title">Basic layout<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                        <div class="heading-elements">
                            
                        </div>
                    </div>

                    <div class="panel-body">

                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="4" style="text-align: center; background-color: #eef3fd;">Mission Comptable</th>
                                </tr>
                                <tr>
                                    <th>Mission</th>
                                    <th>Nombre</th>
                                    <th>temps</th>
                                    <th>0,00€</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Saisie des piéces</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                                <tr>
                                    <td>Saisie des piéces</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                                <tr>
                                    <td>Saisie des piéces</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                                <tr>
                                    <td>Saisie des piéces</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                                <tr>
                                    <td>Saisie des piéces</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                                <tr>
                                    <td>Saisie des piéces</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                                <tr>
                                    <td>Saisie des piéces</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="4" style="text-align: center; background-color: #eef3fd;">Mission Comptable</th>
                                    </tr>
                                    <tr>
                                        <th>Mission</th>
                                        <th>Nombre</th>
                                        <th>temps</th>
                                        <th>0,00€</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <br><br>
                        <div class="table-responsive">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="4" style="text-align: center; background-color: #eef3fd;">Mission Comptable</th>
                                    </tr>
                                    <tr>
                                        <th>Mission</th>
                                        <th>Nombre</th>
                                        <th>temps</th>
                                        <th>0,00€</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    <tr>
                                        <td>Saisie des piéces</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
            </form>
            <!-- /basic layout -->

        </div>

        <div class="col-md-6">

            <!-- Static mode -->
            <form action="#">
                <div class="panel panel-flat border-top-info ">
                    <div class="panel-heading">
                        <h5 class="panel-title">Static mode<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body"></div>
                    <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="4" style="text-align: center; background-color: #eef3fd;">Mission Comptable</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Obligatons respectives</th>
                                        <th>Cabinet</th>
                                        <th>Client</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Organisation de la comptabilité</td>
                                        <td>Organisation de la comptabilité
                                            Organisation de la comptabilité</td>
                                        <td>
                                            <input type="radio">
                                        </td>
                                        <td>
                                            <input type="radio">
                                        </td>
                                    </tr>
                                    <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Organisation de la comptabilité</td>
                                            <td>Organisation de la comptabilité
                                                Organisation de la comptabilité</td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                            <td>
                                                <input type="radio">
                                            </td>
                                        </tr>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
            </form>
            <!-- /static mode -->

        </div>
    </div>
{% endblock %}
