{% extends 'base.html.twig' %}

{% block content %}
<style>
 
.alert.alert-styled-left {
    border-left-width: 27px !important;
}
.alert[class*=alert-styled-].alert-info:after, .alert[class*=alert-styled-][class*=bg-info]:after
{
content: none !important;
}

</style>
<<<<<<< HEAD
<div class="page-content">
        <div class="content-wrapper">
            <div class="content">
                <div class="panel panel-flat border-top-info">
                        <div class="panel-heading">
                            <h6 class="panel-title">Gestion des collaborateurs<a class="heading-elements-toggle"><i class="icon-more"></i></a><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                            <div class="heading-elements">
                                <a href="{{ path('collaborateurs')}}" class="btn btn-primary btn-xs  legitRipple"><b><i class="icon-loop3"></i></b> Retour à la liste</a>
                            </div>
                        </div>
                    <div class="panel-body">
                            <form class="form-horizontal" action="#">
                        <div class="row">
                                <fieldset class="alert alert-info alert-styled-left alert-arrow-left alert-component">
                                    <div class="form-group">
                                            <label class="control-label col-lg-2">Nom</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Prénom</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Adresse</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Téléphone</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" >
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Initiales</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Initiales</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" >
                                            </div>
                                        </div>
                                        <hr class="text-bold"></hr>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Login</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Email</label>
                                            <div class="col-lg-10">
                                                <input type="email" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Mot de passe</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Confirmer lr mot de passe</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" >
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <div class="btn-group">
                                                <button name="update" type="submit" class="btn btn-primary legitRipple">Modifier <i class="icon-arrow-right14 position-right"></i></button>
                                                <button type="button" class="btn btn-danger legitRipple" data-toggle="modal" data-target="#modal_delete" title="Supprimer cet utilisateur">Supprimer <i class="icon-trash-alt position-right"></i></button>
                                            </div>
                                        </div>
                                    </fieldset>
                        </div>
                    </form>
                    </div>
                </div>
=======

    <div class="panel panel-flat border-top-info">
            <div class="panel-heading">
                <h6 class="panel-title">Gestion des collaborateurs<a class="heading-elements-toggle"><i class="icon-more"></i></a><a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                <div class="heading-elements">
                    <a href="" class="btn btn-primary btn-xs  legitRipple"><b><i class="icon-loop3"></i></b> Retour à la liste</a>
                </div>
            </div>
        <div class="panel-body">
                <form class="form-horizontal" action="#">
            <div class="row">
                    <fieldset class="alert alert-info alert-styled-left alert-arrow-left alert-component">
                        <div class="form-group">
                                <label class="control-label col-lg-2">Nom</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-lg-2">Prénom</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">Adresse</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Téléphone</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-lg-2">Initiales</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Initiales</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <hr class="text-bold"></hr>
                            <div class="form-group">
                                <label class="control-label col-lg-2">Login</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Email</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-lg-2">Mot de passe</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-lg-2">Confirmer lr mot de passe</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="text-right">
                                <div class="btn-group">
                                    <button name="update" type="submit" class="btn btn-primary legitRipple">Modifier <i class="icon-arrow-right14 position-right"></i></button>
                                    <button type="button" class="btn btn-danger legitRipple" data-toggle="modal" data-target="#modal_delete" title="Supprimer cet utilisateur">Supprimer <i class="icon-trash-alt position-right"></i></button>
                                </div>
                            </div>
                        </fieldset>
>>>>>>> 6713090460224ed999228bec6f6e9f1a72ae8dee
            </div>
        </div>
</div>

{% endblock %}
