{% extends 'base.html.twig' %}
{% block body_attributes %}class="navbar-top sidebar-xs has-detached-left"{% endblock %}
{% block content %}
<div class="page-content">
    {% block sidebar %}
        {% include 'layout/_partials/sidebar.html.twig' %}
    {% endblock %}
    <div class="content-wrapper">
        <div class="content">
            {% include 'layout/_partials/sidebarseconder.html.twig' %}
       

            <div class="container-detached">
                <div class="content-detached">
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                        <h5 class="panel-title">Attestation de non remuneration</h5>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered text-center alpha-blue" >
                                <thead>
                                    <tr>
                                        <th class="text-center">NOM CLIENT</th>
                                        <th class="text-center">TEST EP 2</th>
                                        <th rowspan="3" class="text-center">CALCUL IS</th>
                                        <th class="text-center">DATE CLOTURE</th>
                                        <th class="text-center">31/12/2016</th>
                                        <th class="text-center">DATE VISA</th>
                                    </tr>   
                                    <tr>
                                        <th rowspan="2" class="text-center">CODE CLIENT</th>
                                        <th rowspan="2" class="text-center">ECOOO5</th>
                                        <th  class="text-center">VISA EC</th>
                                        <th  class="text-center">
                                            <select data-placeholder="" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                <option></option>
                                                <optgroup label="Central Time Zone">
                                                    <option value="AL">Alabama</option>
                                                    <option value="AR">Arkansas</option>
                                                    <option value="KY">Kentucky</option>
                                                </optgroup>
                                                <optgroup label="Eastern Time Zone">
                                                    <option value="CT">Connecticut</option>
                                                    <option value="DE">Delaware</option>
                                                    <option value="WV">West Virginia</option>
                                                </optgroup>
                                            </select>
                                        </th>
                                        <th  class="text-center"></th>
                                    </tr> 
                                    <tr>
                                        <th class="text-center">VISA MANAGER</th>
                                        <th class="text-center">
                                            <select data-placeholder="" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                <option></option>
                                                <optgroup label="Central Time Zone">
                                                    <option value="AL">Alabama</option>
                                                    <option value="AR">Arkansas</option>
                                                    <option value="KY">Kentucky</option>
                                                </optgroup>
                                                <optgroup label="Eastern Time Zone">
                                                    <option value="CT">Connecticut</option>
                                                    <option value="DE">Delaware</option>
                                                    <option value="WV">West Virginia</option>
                                                </optgroup>
                                            </select>
                                        </th>
                                        <th class="text-center"></th>
                                    </tr>   
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}