{% extends 'base.html.twig' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">      
        </div>
    </div>
    
   
    <div class="panel panel-flat">
        <div class="panel-heading">
        <h5 class="panel-title">Liste des utilisateurs</h5>
        </div>

        <div class="panel-body">
        <span title="Ajouter un nouvel utilisateur" class="pull-right"><a href="/user/new" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-user-plus"></i></b> Ajouter</a></span>
        </div>
     
        <div class="datatable-scroll-wrap">
            <table class="table datatable-responsive table-bordered table-hover datatable-highlight dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Prénom: activate to sort column ascending">Prénom</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Nom: activate to sort column ascending">Nom</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">Email</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Téléphone: activate to sort column ascending">Téléphone</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Rôles: activate to sort column ascending">Rôles</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Statut: activate to sort column ascending">Statut</th>
                        <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">Actions</th>
                    </tr>           
                </thead>
                <tbody>
                    <tr role="row" class="even">
                        <td class="sorting_1"><a href="/user/3/show">3</a></td>
                        <td>Augustina</td>
                        <td>sfsdfsdf</td>
                        <td>Augustina@test.com</td>
                        <td>+8845977</td>
                        <td>
                            <span class="label label-info"> Administrateur </span>
                        </td>
                        <td>
                            <span class="label label-success">Activé</span>
                        </td>
                        <td class="text-center">
                            <div class="">
                                <a title="Afficher les détails" href="" class="text-primary legitRipple"><i class="icon-eye position-left"></i></a>
                                <a title="Modifier" href="" class="text-primary legitRipple"><i class="icon-pen position-left"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}