{% extends 'base.html.twig' %}

{% block content %}
<div class="page-content">
      
    {% block sidebar %}
        {% include 'layout/_partials/sidebar.html.twig' %}

    {% endblock %}
    <div class="content-wrapper">
        <div class="content">
            <div class="content-group tab-content-bordered navbar-component">
                    <div class="navbar navbar-inverse" style="background-color: #5d9d9c; border-color: #5d9d9c; position: relative; z-index: 30;">
                        <div class="navbar-header">
                            <ul class="nav navbar-nav pull-right visible-xs-block">
                                <li><a data-toggle="collapse" data-target="#demo1" class="legitRipple"><i class="icon-tree5"></i></a></li>
                            </ul>
                        </div>

                        <div class="navbar-collapse collapse" id="demo1">
                            <ul class="nav navbar-nav">
                                <li class=""><a href="{{ path('liste-collaborateur') }}">Collaborateurs</a></li>

                                <li class=""><a href="#tab-demo2" data-toggle="tab" class="legitRipple" aria-expanded="true">Affectations</a></li>
                                <li class="active"><a href="{{ path('liste-collaborateur') }}">Gestion du cabinet</a></li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
                                        <i class="icon-file-stats2 position-left"></i>
                                        Autre
                                        <span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#tab-demo4" data-toggle="tab">Comptes</a></li>
                                        <li><a href="#tab-demo5" data-toggle="tab">Journaux</a></li>
                                        <li><a href="#tab-demo6" data-toggle="tab">Import CFNOB</a></li>
                                        <li><a href="{{ path('suiviceb') }}">Suivi CEB</a></li>
                                        <li><a href="#tab-demo8" data-toggle="tab">Facturation</a></li>
                                        <li><a href="#tab-demo9" data-toggle="tab">Remise Facturation</a></li>
                                        <li><a href="#tab-demo10" data-toggle="tab">Chiffre d'affaires</a></li>
                                        <li><a href="#tab-demo11" data-toggle="tab">Commissions</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('parametrages') }}"><i class="icon-cog"></i> Parametrages</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-content">



                        <div class="tab-pane fade has-padding" id="tab-demo2">
                                {% include 'default/collaborateur_affectation.html.twig' %}
                        </div>
                        <div class="tab-pane fade has-padding" id="tab-demo4">
                                
                        </div>
                        <div class="tab-pane fade has-padding" id="tab-demo5">

                        </div>
                        <div class="tab-pane fade has-padding" id="tab-demo6">
                            {% include 'default/importCFONB.html.twig' %}
                        </div>
                        
                        <div class="tab-pane fade has-padding" id="tab-demo8">
                            {% include 'default/Facturation.html.twig' %}
                        </div>
                        <div class="tab-pane fade has-padding" id="tab-demo10">
                            {% include 'default/chiffer_affaire.html.twig' %}
                        </div>
                        <div class="tab-pane fade has-padding" id="tab-demo11">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <form action="#" class="form-horizontal">
                                        <div class="form-group">
                                            <label class=" col-sm-2 control-label">Année</label>
                                            <div class="col-sm-3">
                                                <input type="text" placeholder="2010" class="form-control">
                                            </div>  
                                            <div class="form-group">
                                                <label class="radio-inline">
                                                    <div class="choice">
                                                        <input type="radio" name="gender2" class="styled" checked="checked">
                                                    </div>
                                                    Par collaborateur
                                                </label>

                                                <label class="radio-inline">
                                                    <div class="choice">
                                                        <input type="radio" name="gender2" class="styled">
                                                    </div>
                                                    Par groupe
                                                </label>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
