{% extends 'base.html.twig' %}

{% block content %}
<div class="table-responsive">
    <table border="1px solid black" style="background-color:#eef3fd !important;">
        <thead>
        <tr>
            <th rowspan="0">NOM CLIENT</th>
            <th rowspan="0">TEST EP2</th>
            <th style="border-bottom-color:#eef3fd;"></th>
            <th>DATE CLOTURE</th>
            <th>31/12/2016</th>
            <th>DATE VISA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>CODE CLIENT</th>
            <th>EC0005</th>
            <th style="border-bottom-color:#eef3fd">
                <div align="center">GRAND LIVRE</div>
            </th>
            <th>Visa ES</th>
            <th>
                <select data-placeholder="" class="select select2-hidden-accessible col-md-6" tabindex="-1" aria-hidden="true" style="width: 100px">
                    <option></option>
                    <optgroup label="Central Time Zone">
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="KY">Kentucky</option>
                    </optgroup>
                    <optgroup label="Eastern Time Zone">
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="WV">West Virginia</option>
                    </optgroup>
                </select>
            </th>
            <th></th>

        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>VISA MANAGER</th>
            <th>
                <select data-placeholder="" class="select select2-hidden-accessible col-md-6" tabindex="-1" aria-hidden="true" style="width: 100px">
                    <option></option>
                    <optgroup label="Central Time Zone">
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="KY">Kentucky</option>
                    </optgroup>
                    <optgroup label="Eastern Time Zone">
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="WV">West Virginia</option>
                    </optgroup>
                </select>
            </th>
            <th></th>

        </tr>

        <tr>
            <th>
                <button type="button" class="btn btn-info">Nouvelle écriture</button>
            </th>
            <th>
                <button type="button" class="btn btn-info">Importer des écritures</button>
            </th>
            <th>
                <button type="button" class="btn btn-info">Export PDF</button>
                <i class="fa fa-file-excel-o fa-2x" aria-hidden="true" style="color: green;"></i>
                <button type="button" class="btn btn-info"> Réaffecter</button>
                <button type="button" class="btn btn-info"> Lettrer</button>
                <button type="button" class="btn btn-info"> Délettrer</button>
                <button type="button" class="btn btn-info"> Déselec</button>
            </th>
            <th colspan="3">


                <button type="button" class="btn btn-info"> Lettrées</button>
                <button type="button" class="btn btn-info"> Non Lettrées </button>
                <button type="button" class="btn btn-info"> Toutes</button>

                Filtre rapide des écritures&nbsp;
            </th>
            <th>

            </th>
            <th></th>
        </tr>
        </tbody>
    </table>
</div>

    <div class="table-responsive">
     <table class="table">
        <tbody>
            <tr>
                <th>Compte </th>
                <th>Intitulé</th>
                <th>Date</th>
                <th>Journal</th>
                <th>Piéce</th>
                <th>Réfrence</th>
                <th>Libillé</th>
                <th>Lettrage</th>
                <th>Débit</th>
                <th>Crédit</th>
                <th>Solde Débiteur</th>
                <th>Solde Créditeur</th>
                <th>Activation Charge ?</th>
                <th>Cut off ?</th>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
