
<button type="button" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled-left bg-blue heading-btn">Sélectionner le fichier à importer</button>
<span title="Ajouter un nouvel collaborateur" class="pull-right"><a href="" style="background-color: #5d9d9c; border-color: #5d9d9c; margin-left:1rem;" class="btn btn-labeled-left bg-blue heading-btn legitRipple">Revoir les écritures importées</a></span>
<span title="Ajouter un nouvel collaborateur" class="pull-right"><a href="" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled-left bg-blue heading-btn legitRipple">Affection des écritures du Cabinet</a></span>
<br><br><br>
<div class="datatable-scroll-wrap">
    <table class="table datatable-responsive  table-hover datatable-highlight dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
        <tr role="row">
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Banque</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Guichet</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Compte</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Client</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Compte</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Journal</th>
            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Ignorer Définitivement</th>
            <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Ignorer Pour cette fois uniquement</th>
            <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Prendre en compte</th>
        </tr>
      
        </thead>
        <tbody>
           
        </tbody>
    </table>
    <span title="Ajouter un nouvel collaborateur" class="pull-right"><a href="" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled-left bg-blue heading-btn legitRipple">Valider les modifications et importer définitivement</a></span>
</div>