<div class="panel panel-flat">

    <div class="panel-body">


        <div class="form-group">

            <div class="dropdown">
                <label class="control-label col-sm-4" for="pwd"></label>

                <div class="col-sm-8">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">&nbsp;&nbsp;Factures&nbsp;&nbsp;
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <br><br>
        <div class="form-group">

            <div class="dropdown" >
                <label class="control-label col-sm-2" for="pwd">Objet :</label>

                <div class="col-sm-10">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"> [NOM DE SOCIETE] - FACTURE MISSION [DATE DE CLOTURE]
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">[NOM DE SOCIETE] - FACTURE MISSION [DATE DE CLOTURE]</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">[NOM DE SOCIETE] - FACTURE MISSION [DATE DE CLOTURE]</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">[NOM DE SOCIETE] - FACTURE MISSION [DATE DE CLOTURE]</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">[NOM DE SOCIETE] - FACTURE MISSION [DATE DE CLOTURE]</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <br><br>

        <div class="form-group">

            <label class="control-label col-sm-2" for="pwd">Corps du mail</label>
            <div class="col-sm-10">

                <textarea rows="7" class="form-control"  placeholder="Bonjour, ci joint la facture relative a l'excerice clos le..." style="width: 80%"></textarea>

            </div>

        </div>



        <div class="form-group">
            <div class=" col-sm-8">

                <fieldset class="scheduler-border" style="margin-top: 30px !important;">
                    <legend class="scheduler-border" style="text-transform: capitalize">Ajout d'un texte variable</legend>

                    <textarea rows="6" class="form-control" placeholder="[DATE DE CLOTURE]&#10[DATE DERNIER ECHANGE]&#10[DATE PREMIER ECHANGE]&#10[NOM DE SOCIETE]&#10[PRENOM GERANT PRINCIPAL]"></textarea>
                    <br>
                    <label>Se placer sur "Objet" ou sur "Corps du mails" et double cliquer</label>
                </fieldset>

            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-4" style="margin-top: 100px !important;">
                <input type="submit" value="Enregistrer le paramétrage" class="btn btn-info">
            </div>
        </div>


    </div>
</div>