 <div class="panel panel-flat">
        <div class="panel-heading text-center">

            <select data-placeholder="2018" >
                <option>2018</option>
                <option value="CT">2019</option>
                <option value="DE">2020</option>
                <option value="WV">2021</option>
            </select>
            <div class="heading-elements">
                <i class="glyphicon glyphicon-plus text-primary"></i>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="text-align: center; background-color: #eef3fd;"><i class="glyphicon glyphicon-plus text-primary"></i></th>
                                <th colspan="6" style="text-align: center; background-color: #eef3fd;">Taux de commissions</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Années</th>
                                <th>Collaborateur</th>
                                <th rowspan="2">Groupe</th>
                                <th rowspan="2">Taux</th>
                                <th rowspan="2">Nb Mois Travaillée</th>
                                <th rowspan="2">Tarif</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <select data-placeholder="2018" >
                                        <option>2018</option>
                                        <option value="CT">2019</option>
                                        <option value="DE">2020</option>
                                        <option value="WV">2021</option>
                                    </select>
                                </th>
                                <th>
                                    <select data-placeholder="" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                    </select>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><i class="glyphicon glyphicon-trash text-danger"></i></td>
                                <td>2018</td>
                                <td>
                                    <select data-placeholder="Mission comptable" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                    </select>
                                </td>
                                <td>
                                    <select data-placeholder="Mission comptable" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                    </select>
                                </td>
                                <td>
                                    30.00€
                                </td>
                                <td>
                                    30.00€
                                </td>
                                <td>
                                    30.00€
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2" style="text-align: center; background-color: #eef3fd;">Groupe</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td><i class="glyphicon glyphicon-trash text-danger"></i></td>
                                <td>ABS</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>