 <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Mobile and desktop<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2" style="text-align: center; background-color: #eef3fd;">Modes de transmission de piéces</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Mode de transmission</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><i class="glyphicon glyphicon-trash text-danger"></i></td>
                                <td>Fichies Excel</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="text-align: center; background-color: #eef3fd;"></th>
                                <th style="text-align: center; background-color: #eef3fd;">Mode de transmission</th>
                                <th style="text-align: center; background-color: #eef3fd;">à partir du</th>
                                <th style="text-align: center; background-color: #eef3fd;">taux horaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><i class="glyphicon glyphicon-trash text-danger"></i></td>
                                <td>
                                    <select data-placeholder="Mission comptable" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                    </select>
                                </td>
                                <td>01/01/2018</td>
                                <td>23.12 €</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="8" style="text-align: center; background-color: #eef3fd;">Cout des missions</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>catégorie</th>
                                <th>Mission</th>
                                <th>Mode de trasmission</th>
                                <th>calcule à partir des heures retenues</th>
                                <th>Nombre par an par défaut</th>
                                <th>Temps Unitaire</th>
                                <th>Montant Fixe</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><i class="glyphicon glyphicon-trash text-danger"></i></td>
                                <td>
                                    <select data-placeholder="Mission comptable" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                    </select>
                                </td>
                                <td>
                                    Saisie des piéces
                                </td>
                                <td>
                                    <select data-placeholder="Scan" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                    </select>
                                </td>
                                <td>
                                    <input type="radio"></td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0.1
                                </td>
                                <td>
                                    0.1
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="3" style="text-align: center; background-color: #eef3fd;">Cout Autres Missions</th>
                            </tr>
                            <tr>
                                <th>catégorie</th>
                                <th>Mission</th>
                                <th>Tarif</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Attestation</td>
                                <td>
                                    <select data-placeholder="Mission comptable" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                    </select>
                                </td>
                                <td>
                                    30.00€
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="table-responsive">
                        - Mode de transmission : dans le cas ou la mission ne doit s'effecter que pour un mode de transmission <br>
                        -Calculé à partir des heures retenues :<br>
                        -si caché : nombre d'écritures estimées x nombre d'écrutures par heures x coefficients <br>
                        -si non coché, le cout sera calculé à partir du Nombre Par an par défaut<br>
                    </div>

                </div>
            </div>
        </div>
    </div>