<table class="table datatable-responsive table-bordered table-hover datatable-highlight">
    <thead>
    <tr>
        <th><i class="fa fa-plus-circle fa-2x" style="color: green"></i></th>
        <th>Order d'affichage</th>
        <th>Catégories</th>
        <th>Mission</th>
        <th>Relance tous les x jours </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="#"><i class="fa fa-trash fa-2x" style="color: green"></i></a></td>
        <td>100</td>
        <td>Impots.Gouv</td>
        <td>
            <select class="select select2-hidden-accessible col-md-6" tabindex="-1" aria-hidden="true">
            <option></option>
            <optgroup label="Central Time Zone">
                <option value="AL">Alabama</option>
                <option value="AR">Arkansas</option>
                <option value="KY">Kentucky</option>
            </optgroup>
            <optgroup label="Eastern Time Zone">
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="WV">West Virginia</option>
            </optgroup>
            </select>
        </td>
        <td>4</td>
    </tr>
    <tr>
        <td><a href="#"><i class="fa fa-trash fa-2x" style="color: green"></i></a></td>
        <td>300</td>
        <td>Das2</td>
        <td>
            <select class="select select2-hidden-accessible col-md-6" tabindex="-1" aria-hidden="true">
                <option></option>
                <optgroup label="Central Time Zone">
                    <option value="AL">Alabama</option>
                    <option value="AR">Arkansas</option>
                    <option value="KY">Kentucky</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="WV">West Virginia</option>
                </optgroup>
            </select>
        </td>
        <td>5</td>
    </tr>
    <tr>
        <td><a href="#"><i class="fa fa-trash fa-2x" style="color: green"></i></a></td>
        <td>600</td>
        <td>RAM</td>
        <td>
            <select class="select select2-hidden-accessible col-md-6" tabindex="-1" aria-hidden="true">
                <option></option>
                <optgroup label="Central Time Zone">
                    <option value="AL">Alabama</option>
                    <option value="AR">Arkansas</option>
                    <option value="KY">Kentucky</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="WV">West Virginia</option>
                </optgroup>
            </select>
        </td>
        <td>9</td>
    </tr>
    </tbody>
</table>