{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-content">
    {% block sidebar %}
        {% include 'layout/_partials/sidebar.html.twig' %}
    {% endblock %}
        <div class="content-wrapper">
            <div class="content">
                <form action="#">
                    <div class="panel panel-flat ">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                Planning
                                </h6>
                                <div class="heading-elements">
                                    <ul class="icons-list">
                                        <li><a data-action="collapse"></a></li>
                                        <li><a data-action="reload"></a></li>
                                        <li><a data-action="close"></a></li>
                                    </ul>
                                </div>
                            </div>

                        <div class="panel-body">
                                <div class="table-responsive">
                                    <div class="form-group">
                                        <span title="Ajouter une nouvelle tache" class="pull-right"><a data-toggle="modal" data-target="#myModal" href="" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-user-plus"></i></b> Ajouter</a></span>
                                    </div><br><br><br>
                                    <table class="table datatable-responsive table-bordered table-hover datatable-highlight">
                                        <thead>
                                            <tr>
                                                <th style="border-left-style:hidden; border-top-style:hidden;background-color:transparent;"></th>
                                                <th colspan="7">Double  clic sur client : ouvre le dossier de travail</th>
                                                <th>Double clic modifier</th>
                                                <th><button type="submit" class="btn btn-info btn-float btn-loading">Modifier le statut<br> pour la séléction</button></th>
                                                <th></th>
                                                <th>Double clic pour modifier</th>
                                                <th colspan="2">Double clic : Crée email ou client+indiquedu jour</th>
                                                <th>
                                                <div>
                                                    <button type="submit" class="label label-info " style="width:10rem">Aucun ligne<br> séléctionnée</button>
                                                    <button type="submit" class="label label-info" style="margin-top:1px;width:10rem;">Sélectionner les <br>lignes affichées</button>
                                                </th>
                                                <th>Doucle clic pour modifier</th>
                                            </tr>
                                            <tr>
                                                <th style="border-left-style:hidden; border-top-style:hidden;background-color:transparent;"></th>
                                                <th>Expert Comptable</th>
                                                <th>Chef Mission</th>
                                                <th>collab.</th>
                                                <th>Client</th>
                                                <th>Mission</th>
                                                <th>Type</th>
                                                <th>Sous Type</th>

                                                <th>Statut</th>
                                                <th>Mois</th>
                                                <th>Date Planning</th>
                                                <th>Date Ok</th>
                                                <th>Date Demande</th>
                                                <th>Date Relance</th>
                                                <th>
                                                Séléction
                                                </th>
                                                <th>Commentaire</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="">
                                                        <a title="Supprimer" onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');" href="#" class="text-danger legitRipple"><i class="icon-trash position-left"></i></a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select data-placeholder="TDA" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                        <option>CTE</option>
                                                        <option>CTE</option>
                                                        <option>EDA</option>
                                                        <option></option>
                                                    </select>
                                            </td>
                                            <td>
                                                <select data-placeholder="CTE" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                    <option>CTE</option>
                                                    <option>CTE</option>
                                                    <option>EDA</option>
                                                    <option></option>
                                                </select>
                                            </td>
                                            <td>
                                                <select data-placeholder="CTE" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                    <option>CTE</option>
                                                    <option>CTE</option>
                                                    <option>EDA</option>
                                                    <option></option>
                                                </select>
                                            </td>
                                            <td>
                                               EC0002 TEST EP 4
                                            </td>
                                            <td>
                                                SOCIALE
                                            </td>
                                            <td>
                                               DSI
                                            </td>

                                            <td>
                                               DSI
                                            </td>
                                            <td>
                                                Outdated
                                            </td>

                                            <td>Mai 2018</td>
                                            <td>31/05/2018</td>

                                            <td>
                                                <button type="submit" class="label label-info">Pour Séléct</button>
                                            </td>
                                            <td>
                                                <button type="submit" class="label label-info">Pour Séléct</button>
                                            </td>
                                            <td>
                                                <input type="checkbox" value="">
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="">
                                                    <a title="Supprimer" onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');" href="#" class="text-danger legitRipple"><i class="icon-trash position-left"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="">
                                                    <a title="Supprimer" onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');" href="#" class="text-danger legitRipple"><i class="icon-trash position-left"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                <select data-placeholder="TDA" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                    <option>CTE</option>
                                                    <option>CTE</option>
                                                    <option>EDA</option>
                                                    <option></option>
                                                </select>
                                        </td>
                                        <td>
                                            <select data-placeholder="CTE" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                <option>CTE</option>
                                                <option>CTE</option>
                                                <option>EDA</option>
                                                <option></option>
                                            </select>
                                        </td>
                                        <td>
                                            <select data-placeholder="CTE" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                                <option>CTE</option>
                                                <option>CTE</option>
                                                <option>EDA</option>
                                                <option></option>
                                            </select>
                                        </td>
                                        <td>
                                           EC0002 TEST EP 4
                                        </td>
                                        <td>
                                            SOCIALE
                                        </td>
                                        <td>
                                           DSI
                                        </td>

                                        <td>
                                           DSI
                                        </td>
                                        <td>
                                            Outdated
                                        </td>

                                        <td>Mai 2018</td>
                                        <td>31/05/2018</td>

                                            <td></td>
                                            <td></td>
                                            <td><input type="checkbox" value=""></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-teal-400">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajout d'une nouvelle tache</h4>
                </div>
                <form action="#" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Collaborateur</label>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Date" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <input type="text"  class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Mission</label>
                            <div class="col-sm-9">
                                <select data-placeholder="TDA" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Type</label>
                            <div class="col-sm-9">
                                <select data-placeholder="TDA" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Sous type</label>
                            <div class="col-sm-9">
                                <select data-placeholder="TDA" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Client(optionnel)</label>
                            <div class="col-sm-9">
                                <select data-placeholder="TDA" class="select select2-hidden-accessible class="col-md-6"" tabindex="-1" aria-hidden="true">
                                    <option></option>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="KY">Kentucky</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Commentaire (optionnel)</label>
                            <div class="col-sm-9">
                                <textarea rows="5" cols="5" class="form-control" placeholder="Enter your message here"></textarea>
                            </div>
                        </div>

                       
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}