{% extends 'base.html.twig' %}

{% block content %}

        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Liste des Produits<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                <div class="heading-elements">
                    <a href="{{ path('user_index') }}" class="btn btn-primary btn-xs "><b><i class="icon-loop3"></i></b> Retour à la liste</a>
                </div>
            </div>

            <div class="panel-body">

            </div>
        <table class="table datatable-responsive  table-bordered table-hover datatable-highlight">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Famille</th>
                <th>Description</th>
                <th>Créé le</th>
                <th>Modifié le</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Produit 1</td>
                <td>Collectivités</td>
                <td>petite description 1</td>
                <td>12-12-2016</td>
                <td>12-12-2016</td>
                <td class="text-center">
                    <div class="">
                        <a title="Afficher les détails" href="#" class="text-primary legitRipple"><i class="icon-eye position-left"></i></a>
                        <a title="Modifier" href="#" class="text-primary legitRipple"><i class="icon-pen position-left"></i></a>
                        <a title="Supprimer" onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');" href="#" class="text-danger legitRipple"><i class="icon-trash position-left"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Produit 2</td>
                <td>Flotte</td>
                <td>petite description 2</td>
                <td>12-12-2016</td>
                <td>12-12-2016</td>
                <td class="text-center">
                    <div class="">
                        <a title="Afficher les détails" href="#" class="text-primary legitRipple"><i class="icon-eye position-left"></i></a>
                        <a title="Modifier" href="#" class="text-primary legitRipple"><i class="icon-pen position-left"></i></a>
                        <a title="Supprimer" onclick="return confirm('Êtes-vous sûr ? Cette action est irréversible.');" href="#" class="text-danger legitRipple"><i class="icon-trash position-left"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
