<div class="panel panel-flat">
	<div class="panel-body">
		<div class="panel-body">
			<span title="Ajouter un nouvel Client" class="pull-right"><a href="/app/client/rdvs/new" style="background-color: #5d9d9c; border-color: #5d9d9c;" class="btn btn-labeled btn-labeled-left bg-blue heading-btn legitRipple"><b><i class="icon-user-plus"></i></b> Ajouter</a></span>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Type </th>
					<th>Date</th>
					<th>Debut</th>
					<th>Fin</th>
					<th>Facturé</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>