{% extends '@Website/layout.html.twig' %}
{% block body %}
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="#" style="color: #fff">EKO</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="#home">Accueil</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">A propos</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Services</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="#">S'authentifier</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="#">S'authentifier</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Cabinet comptable Groupe Eko</h2>
                        <h3>C</h3>
                        <p><b class="greenclass">Compatibilité - Expert Comptable - Commissaire Aux Comptes</b></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->

    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2 class="greenclass">À propos de nous</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">

                        <h4 class="brownclass">Notre mission</h4>
                        <p>Notre mission comme cabinet d'expert comptable, ou de cyber comptabilité, est de vous aider à respecter vos multiples obligations légales en vous prenant le moins de temps possible et en vous conseillant au mieux. Chaque métier possède ses caractéristiques propres. Un commerçant n'affronte pas les obligations légales de la même manière qu'une profession libérale ou qu'un indépendant. Notre force : personnaliser nos conseils et nos approches à votre profil et à vos besoins.</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">

                        <h4 class="brownclass">Adaptations à vos besoins</h4>
                        <p>Pour vous aider dans nos domaines de compétences, nous intervenons sous forme de forfait annuel sur des missions clairement identifiées, de la TPE jusqu'à la S.A., ou de mission au coup par coup.
                            L’expert-comptable est là pour répondre et faire face aux multiples problèmes auxquels sont confrontés les chefs d’entreprises. C’est pourquoi nous sommes tout particulièrement à l’écoute de vos besoins.
                            Notre cabinet d'expert comptable travaille via Internet sur toute la France. Notre siège est en région parisienne</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">

                        <h4 class="brownclass">Compabilité, expert comptable, commissariat aux comptes</h4>
                        <p>Nous gérons et garantissons l'intégrité de votre système d'information comptable.
                            Notre cabinet s'est équipé d'une application comptable Web 2.0.
                            Vous pouvez solliciter à tout moment les conseils en comptabilité de notre collaborateur en charge de votre dossier.
                            Vos données comptables sont centralisées sur le serveur du  cabinet et sauvegardées quotidiennement en toute confidentialité.</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- Special Description Area -->

    </section>
    <!-- ***** Special Area End ***** -->

    <!-- ***** Awesome Features Start ***** -->
    <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                        <h2 class="greenclass">Nos Services</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">Aide création entreprise</h5>
                        <p>La création d’entreprise est un parcours passionnant mais souvent complexe et toujours décisif pour vôtre avenir.
                            Lors de notre premier entretien, nous tâchons de :
                            Mesurer avec vous les points forts et les points faibles de votre projet,
                            Vous donner un avis professionnel et indépendant sur l’opportunité de poursuivre vos démarches,
                            Etablir avec vous un business plan, document fondateur qui démontre la viabilité de votre projet et trace votre route pour les années à venir.
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">Tenue de Comptabilité</h5>
                        <p>La tenue d’une comptabilité et la présentation de la comptabilité générale correspondent à une suite d’opérations :
                            Rassemblement et éventuellement transfert au cabinet des pièces de base,
                            Comptabilisation de ces pièces,
                            Présentation de la comptabilité générale,
                            Bilan, Compte de résultat, Annexe aux comptes annuels

                            Chacune de ces opérations doit être réalisée selon des méthodes qui donnent satisfaction au client et être parfaitement maîtrisée par le cabinet.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">Documents fiscaux</h5>
                        <p>
                            - Droit fiscal.</br>
                            - Impôts sur les sociétés. </br>
                            - TVA et taxes indirectes. </br>
                            - Impôts locaux. </br>
                            - Opérations internationales. </br>
                            - Contrôle et contentieux de l’impôt. </br>
                            - Fiscalité diverse. </br>
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">Paie - service de la paie par votre cabinet comptable</h5>
                        <p>Métier à part entière, la paie nécessite des connaissances approfondies et actualisées en matière de législation sociale et exige une confidentialité absolue.

                            Pour l’entreprise, c’est une fonction lourde, complexe, mensuelle et incontournable.

                            Notre cabinet vous propose de mettre en place la solution appropriée pour vous simplifier le traitement de la paie et de la gestion administrative du personnel.</br></br>

                            -Traitements courants </br>
                            -Prise en charge de travaux liés à la gestion administrative du personnel </br>
                            -Suivi de la législation sociale </br>

                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">Révision comptable</h5>
                        <p>
                            La révision des comptes consiste à examiner et à vérifier les comptes d’une société tous les ans.

                            L’appréciation des pratiques comptables et les estimations retenues permettent d’effectuer l’arrêté des comptes.

                            Pour cela, notre cabinet vous propose les missions suivantes : </br>
                            - Révision contractuelle des comptes </br>
                            - Révision des procédures de contrôle interne </br>
                            - Révision légale des comptes (commissariat aux comptes) </br>
                            - Révision avant prise de participation </br>
                            - Révision préalable à l'introduction en Bourse des titres d'une société </br>
                            - Commissariat aux apports
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">Devis cyber comptable en ligne</h5>
                        <p>
                            Un collaborateur du cabinet comptable vous téléphonera ou vous contactera par email très rapidement, merci.
                            </br>

                            Le cabinet d'expert comptable Teixeira est installé en centre ville mais nous travaillons avec des clients répartis sur toute la France grâce à notre organisation et à nos outils WEB2.0. Cette approche augmente la réactivité de notre organisation, et elle simplifie fortement la gestion des documents (tout est numérisé, sauvegardé et aisé à gérer à distance en Gestion Electronique de Documents). Nous pouvons ainsi intervenir et travailler sur toute TPE / PME installée en France ou à Paris.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Awesome Features End ***** -->


    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2 class="greenclass">Contactez-nous</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="address-text">
                        <p><span>Address:</span> 12,rue Taine - 7502 PARIS</p>
                    </div>
                    <div class="phone-text">
                        <p><span>Tel:</span> ---</p>
                    </div>
                    <div class="email-text">
                        <p><span>Email:</span> contact@groupe-eko.fr</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="#" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Votre Nom" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Votre E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Votre Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn" style="cursor: pointer;">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
