{% extends '@Website/layout.html.twig' %}
{% block body %}
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                           <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="#home">ACCUEIL</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#about">A PROPOS</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">MISSIONS</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="#">SE CONNECTER</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="#">SE CONNECTER</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading center">
                        <h2>EKO<br>
                            EXPERTISE-COMPTABLE<br>
                            COMMISSARIAT AUX COMPTES
                                </h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->

    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2 class="greenclass">A PROPOS DE EKO </h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special wow fadeInUp" data-wow-delay="0.2s">

                        <h4 class="brownclass">NOTRE MISSION</h4>
                        <p>
                            Notre mission comme Cabinet d’Expertise-comptable est de vous aider à respecter vos multiples obligations légales en vous prenant le moins de temps possible et en vous conseillant au mieux.
<<<<<<< HEAD
                            Chaque métier possède ses caractéristiques propres. Un commerçant n’affronte pas les obligations légales de la même manière qu’une profession libérale ou qu’un indépendant. Notre force : personnaliser nos conseils et nos approches à votre profil et à vos besoins.  </p>
=======
                            Chaque métier possède ses caractéristiques propres. Un commerçant n’affronte pas les obligations légales de la même manière qu’une profession libérale ou qu’un indépendant. Notre force : personnaliser nos conseils et nos approches à votre profil et à vos besoins.
                        </p>
>>>>>>> 6713090460224ed999228bec6f6e9f1a72ae8dee
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special  wow fadeInUp" data-wow-delay="0.4s">

                        <h4 class="brownclass">ADAPTATIONS A VOS BESOINS</h4>
                        <p>
                            Pour vous aider dans nos domaines de compétences, nous intervenons sous forme de forfait annuel sur des missions clairement identifiées. 
                            L’expert-comptable est là pour répondre et faire face aux multiples problèmes auxquels sont confrontés les chefs d’entreprises. C’est pourquoi nous sommes tout particulièrement à l’écoute de vos besoins.
                            Notre Cabinet d'expertise-comptable travaille via Internet sur toute la France. Notre siège est situé à Paris.
                        </p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special wow fadeInUp" data-wow-delay="0.6s">

                        <h4 class="brownclass">EXPERTISE-COMPTABLE, COMMISSARIAT AUX COMPTES</h4>
                        <p>
                                Nous gérons et garantissons l'intégrité de votre système d'information comptable. 
                                Notre Cabinet s'est équipé d'une application comptable Web 2.0. Vous pouvez solliciter à tout moment des conseils de la part des collaborateurs en charge de votre dossier.
                                Vos données comptables sont centralisées sur le serveur du Cabinet et sauvegardées quotidiennement en toute confidentialité.                        </p>
                    </div>
                </div>

            </div>
        </div>
        <!-- Special Description Area -->

    </section>
    <!-- ***** Special Area End ***** -->

    <!-- ***** Awesome Features Start ***** -->
    <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                        <h2 class="greenclass">NOS MISSIONS</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">AIDE A LA CREATION DE VOTRE ENTREPRISE</h5>
                        <p>
                            La création d’entreprise est un parcours passionnant mais souvent complexe et toujours décisif pour votre avenir.
                            Lors de notre premier entretien, nous tâchons de :<br>
                            <ul>
<<<<<<< HEAD
                            <li class="ilformat">Mesurer avec vous les points forts et les points faibles de votre projet</li>
                            <li class="ilformat">Vous donner un avis professionnel et indépendant sur l’opportunité de poursuivre vos démarches</li>
                            <li class="ilformat">Etablir avec vous un business plan, document fondateur qui démontre la viabilité de votre projet et trace votre route pour les années à venir.</li>
                        </ul>
=======
                                <li class="ilformat">Mesurer avec vous les points forts et les points faibles de votre projet</li>
                                <li class="ilformat">Vous donner un avis professionnel et indépendant sur l’opportunité de poursuivre vos démarches</li>
                                <li class="ilformat">Etablir avec vous un business plan, document fondateur qui démontre la viabilité de votre projet et trace votre route pour les années à venir.</li>
                            </ul>
>>>>>>> 6713090460224ed999228bec6f6e9f1a72ae8dee
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">TENUE DE COMPTABILITE</h5>
                        <p>
                            La tenue d’une comptabilité et la présentation de la comptabilité générale correspondent à une suite d’opérations :
                            Comptabilisation des factures d’achat, vente, relevés bancaires, Présentation de la comptabilité générale (Bilan, Compte de résultat, Annexe aux comptes annuels), etc. 
                            Chacune de ces opérations doit être réalisée selon des méthodes qui donnent satisfaction au client et être parfaitement maîtrisée par le Cabinet.
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">DECLARATIONS FISCALES</h5>
                        <p>
                            Le Cabinet d’Expertise-comptable EKO sera en charge d’établir les déclarations fiscales obligatoires pour vous permettre de vous concentrer sur votre activité : <br>
                           <ul>
                            <li class="ilformat">Impôts sur les sociétés</li>
                            <li class="ilformat">TVA et taxes indirectes</li>
                            <li class="ilformat">Impôts locaux</li>
                            <li class="ilformat">Opérations internationales</li>
                            <li class="ilformat">Contrôle et contentieux de l’impôt</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">TRAITEMENT DE LA PAIE</h5>
                        <p>
                            Métier à part entière, la paie nécessite des connaissances approfondies et actualisées en matière de législation sociale et exige une confidentialité absolue. 
                            Pour l’entreprise, c’est une fonction lourde, complexe, mensuelle et incontournable. 
                            Notre Cabinet vous propose de mettre en place la solution appropriée pour vous simplifier le traitement de la paie et de la gestion administrative du personnel.
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">MISSIONS DIVERSES</h5>
                        <p>
                            Le Cabinet EKO se charge d’examiner et de vérifier les comptes d’une société afin d’en apprécier les pratiques comptables et les estimations retenues.
                            Pour cela, notre Cabinet vous propose les missions suivantes :<br>
                            <ul>
                                <li class="ilformat">Révision contractuelle des comptes</li>
                                <li  class="ilformat">Révision des procédures de contrôle interne</li>
                                <li class="ilformat">Révision légale des comptes (commissariat aux comptes)</li>
                                <li class="ilformat">Révision avant prise de participation</li>
                                <li class="ilformat">Révision préalable à l'introduction en Bourse des titres d'une société </li>  
                            </ul>                              
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-feature">

                        <h5 style="text-align: center" class="brownclass">BUDGET DE LA MISSION</h5>
                        <p>
                            Si vous souhaitez obtenir un devis, laissez-nous vos coordonnées, et un associé du Cabinet vous contactera dans les meilleurs délais.
                            Le Cabinet d'Expertise-comptable EKO est installé à Paris mais nous travaillons avec des clients répartis sur toute la France grâce à notre organisation et à nos outils WEB 2.0. Cette approche augmente la réactivité de notre organisation, et elle simplifie fortement la gestion des documents (tout est numérisé, sauvegardé et aisé à gérer à distance en Gestion Electronique de Documents).
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Awesome Features End ***** -->


    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2 class="greenclass">Contactez-nous</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="address-text">
<<<<<<< HEAD
                        <p><span>Address:</span><span class="pull-right">12, rue Taine 75012 PARIS</span></p>
                    </div>
                    <div class="phone-text">
                        <p><span>Téléphone :</span><span class="pull-right"> 01.83.62.09.38</span></p>
                    </div>
                    <div class="phone-text">
                        <p><span>Fax :</span> <span class="pull-right">01.83.62.09.86</span></p>
                    </div>
                    <div class="email-text">
                        <p><span>Email :</span>  <span class="pull-right">carlos.teixeira@groupe-eko.fr</span></p>
=======
                        <p><span class="greenclass">Adresse:</span><span class="pull-right">12, rue Taine 75012 PARIS</span></p>
                    </div>
                    <div class="phone-text">
                        <p><span class="greenclass">Téléphone :</span><span class="pull-right"> (+33) 01.83.62.09.38</span></p>
                    </div>
                    <div class="phone-text">
                        <p><span class="greenclass">Fax :</span> <span class="pull-right"> (+33) 01.83.62.09.86</span></p>
                    </div>
                    <div class="email-text">
                        <p><span class="greenclass">Email :</span>  <span class="pull-right">carlos.teixeira@groupe-eko.fr</span></p>
>>>>>>> 6713090460224ed999228bec6f6e9f1a72ae8dee
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="#" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Votre Nom *" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Votre E-mail *" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Votre Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn" style="cursor: pointer;">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
