{% extends 'prisedeconnaissance/prisedeconnaissance.html.twig' %}
{% block _content %}

    <div class="panel panel-flat">
        <div class="tabbale">
            <ul class="nav nav-tabs bg-teal-400 nav-justified">
                <li id="clikfirsttab"><a href="{{ path('company_new') }}">Fiche Client</a></li>
                <li class="active"><a href="{{ path('devis_new') }}">Prise de connaissance</a></li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="secondtab">
                    <div class="">
                        <ul class="nav nav-tabs nav-tabs-highlight">
                            <li class="active"><a href="#devisclient" data-toggle="tab" aria-expanded="false"><i class="icon-folder position-left"></i>Devis Client</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">

                        <div class="tab-pane active" id="devisclient">

                            <div id="eko-quotation-container"></div>

                            {% include 'default/Devis_clients.html.twig' %}

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {% block javascripts %}

        <script type="text/javascript" src="/build/js/pages/quotation.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
        <script>
            $(document).ready(function() {
                // you may need to change this code if you are not using Bootstrap Datepicker
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });

                $("label").removeAttr("for");
            });
        </script>
        <script src="{{ asset('assets/js/plugins/symfony_collectionjs/jquery.collection.js') }}"></script>
    {% endblock javascripts %}

{% endblock %}