{% extends 'company/company.html.twig' %}
{% block _content %}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Création d'une facture<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <form method="post">
                <div class="panel-body">
                    <div class="col-lg-12 content-group-lg" style="background-color: #5d9d9c;color: #fff;font-size: 14px;text-align: center;margin: 10 0">
                        <h6>Facturation - Ajout de prestations</h6>
                    </div>

                    <div class="row">
                        <div class="col-lg-2" >
                            Client
                        </div>
                        <div class="col-lg-5">
                            <select>
                                <option>CC0001 ACONITER</option>
                                <option>CC0002 ELMO</option>
                                <option>CC0003 SGEI</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2" >
                            Exercice
                        </div>
                        <div class="col-lg-5">
                            <select>
                                <option>01/01/2016-31/12/2016</option>
                                <option>01/01/2017-31/12/2017</option>
                                <option>01/01/2018-31/12/2018</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2" >
                            Date de facture
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="french_picker form-control picker__input picker__input--active" name="datefin" placeholder="16/07/2018" required>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-2" >
                            Mode de réglement
                        </div>
                        <div class="col-lg-5">
                            <select>
                                <option>Chéque</option>
                                <option>Prélévement</option>
                                <option>Virement</option>
                            </select>
                        </div>
                    </div>
                    <br>
                        <div class="row">
                            <div class="col-lg-2" >
                                Adresse de facturation
                            </div>
                            <div class="col-lg-10">
                               <textarea cols="4" rows="5" class="form-control"></textarea>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-lg-2" >
                                Ville
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-lg-2" >
                            CP
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <br>

                    <div class="col-lg-12 content-group-lg" style="background-color: #5d9d9c;color: #fff;font-size: 14px;text-align: center;margin: 10 0">
                        <h6>Choix des prestations </h6>
                    </div>

                        <div class="row">
                            <div class="col-lg-2" >
                                Choisir la prestation
                            </div>
                            <div class="col-lg-6">
                                <select>
                                    <option>Attestation</option>
                                    <option>Entrée d'in salarié (contrat, déclaration embauche, etc.)</option>
                                    <option>Etablissement de chaque bulletin de paie(paie,déclarations de charges,etc.)</option>
                                    <option>Mission comptable et fiscale</option>
                                    <option>Mission juridique</option>
                                    <option>Rendez-vous Physique</option>
                                    <option>Rendez-vous Téléphonique</option>
                                    <option>Sortie d'un salarié(solde de tout compte, attestation póle emploie,etc.)</option>
                                    <option>Télédéclarations</option>
                                </select>
                            </div>
                        </div>


                    <br>

                    <div class="col-lg-12 content-group-lg" style="background-color: #5d9d9c;color: #fff;font-size: 14px;text-align: center;margin: 10 0">
                        <h6>Détail à ajouter à la facture</h6>
                    </div>


                    <div class="row">
                        <div class="col-lg-2" >
                            Libellé
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2" >
                            Catégorie
                        </div>
                        <div class="col-lg-5">
                            <select>
                                <option>ADMIN</option>
                                <option>CAC</option>
                                <option>COMPTA</option>
                                <option>CONSEIL</option>
                                <option>DOM</option>
                                <option>JURID</option>
                                <option>MEX</option>
                                <option>REDUC</option>
                                <option>REVST</option>
                                <option>SOCIAL</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2" >
                            Montant HT
                        </div>
                        <div class="col-lg-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group" style="float: right">
                        <div class="row">
                            <button type="submit" class="btn-success btn legitRipple">Annuler<span class="legitRipple-ripple"></span></button>
                            <button type="submit" class="btn-success btn legitRipple">Valider<span class="legitRipple-ripple"></span></button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

{% endblock %}