<div class="sidebar sidebar-main" >
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible" >
            <div class="category-content no-padding">
                {{ knp_menu_render('main', {'allow_safe_labels': true, 'currentClass': 'current active'}) }}
            </div>
        </div>
        <!-- /main navigation -->
    </div>
</div>