{% extends "mail/layout.html.twig" %}

{% block content %}
    <p>Les identifiants de connexion sur l'extranet de AXA ont été mis à jour. Ci-dessous les nouveaux identifiants:</p>
    Email: <strong>{{ email }}</strong><br>
    Password: <strong>{{ password }}</strong><br>
    Lien: <strong><a href="{{ url('fos_user_security_login') }}">{{ url('fos_user_security_login') }}</a></strong>
{% endblock %}
