{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-content">

        {% block sidebar %}
            {% include 'layout/_partials/sidebar.html.twig' %}
        {% endblock %}

        <div class="content-wrapper">
            <div class="content">
                {% block _content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
